.workspaceBar0, .workspaceBar1, .workspaceBar2 {
    background-color: transparent;
    font-size: 12px;
}

.workspace-button {
    padding: 0 4px 0 5px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    color: #FFFFFF;
    margin-bottom: 4px;
}

.workspace-active {
    padding: 0 15px 0 16px;
    background-color: #FFFFFF;
    color: #000000;
}
