@import "mocha.css";

* {
  color: @text;
  font-size: 14px;
  margin: 0px 5px;
}

window#waybar {
  background-color: @crust;
  border-radius: 10px;
}

#workspaces button {
  border-radius: 0;
  margin-top: 2px;
  border-top: 1px solid transparent;
}

#workspaces button.active {
  border-top: 1px solid @mauve;
}

#custom-launcher {
  font-size: 16px;
  color: @blue;
}

